@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@600&display=swap');

:root {
	--primary-color: #f1cfd5;
	--secondary-color: #73313b;
	--color-pink: #ff9a9e;
	--color-lightpink: #f8dbd2;
	--primary-font: 'Lora', serif;
	--secondary-font: 'Nanum Gothic', sans-serif;
  --header: 'Montserrat', serif;

	--transition: all 400ms ease;
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Poppins'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--primary-color); */
  padding-top: 100px;
  scroll-padding-bottom: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Verdana"; 
  font-size: 30px;
  color: #73313b; 
  font-weight: "bold";
}


h2,
h3,
h4,
h5 {
	font-weight: 500;
}

h1 {
	font-size: 2.5rem;
	font:"Lora";
}

