.resources-page {
  text-align: center;
  background: var(--primary-color);
  margin-bottom: 15px;
}

.resources-page h2 {
  font-family: var(--primary-font);
  padding-top: 15px;
  margin-top: 50px;
  font-size: 20pt;
  margin-bottom: -15px;
  color: var(--secondary-color);
  font-weight:700
}

.resources-links {
  display: block;
  padding: 8px;
  margin: 15vw auto;
  border-radius: 12px;
  width: 60vw;
  color: #f1cfd5;
  background-color: var(--secondary-color);
  text-decoration: none;
  font-family: var(--primary-font);
  font-weight: 700

}