.breastcheck {
	width: 70%;
	margin: 0 auto;
	display: flex;
	padding-top: 30px;
}

.button {
	background-color: var(--color-lightpink);
	border: none;
	border-radius: 50%;
	display: inline-block;
	height: 70px;
	width: 70px;
  }

.symptoms__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	max-width: 100%;
	text-align: center;
}

.close {
	position: absolute;
	right: 25px;
	top: 25px;
	width: 25px;
	height: 25px;
	opacity: 0.3;
  }
  .close:hover {
	opacity: 1;
  }
  .close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 25px;
	width: 2px;
	background-color: #333;
  }
  .close:before {
	transform: rotate(45deg);
  }
  .close:after {
	transform: rotate(-45deg);
  }