.breastcheck {
	width: 70%;
	margin: 0 auto;
	display: flex;
	padding-top: 30px;
}

.button {
	background-color: var(--color-lightpink);
	border: none;
	border-radius: 50%;
	display: inline-block;
	height: 70px;
	width: 70px;
  }

.symptoms__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1rem;
	max-width: 100%;
	text-align: center;
}
