@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');

.footer {
  background-color: var(--primary-color);
  bottom: 0;
  width: 100vw;
  height: 4rem;
  z-index: 1;
  position: fixed;
}

.header {
	position: fixed;
	top: 0;
	margin-left: auto;
	width: 100%;
	padding: 30px 15px;
	font-family: 'Fraunces', serif;
	z-index: 5;
	font-weight: 500;
	font-size: 2rem;
	height: 5rem;
	color: var(--secondary-color);
	background-color: var(--primary-color);
}